.table{
    width: 100%;
}
.table thead{
 background-color: #3880ff;

}
.table th{
    padding: .5rem;
    color: white;
}

.table tbody{
    text-align: center;
    font-size: 1em;
}
.table td{
    padding: .5rem 0;
}
.table tr:nth-child(even){
background-color: #f4f5f8;
}
.spinnerContainer{
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinnerContainer ion-spinner{
    width: 80px;
    height: 80px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 1.5rem;
}