.button{
    border-radius: 6px;
    position: fixed;
    bottom: 0;
    right: -1px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem; /* Adjust padding as needed */
}