.header {
  text-align: center;
  margin-top: 40%;
}
.header h1 {
  font-weight: 700;
}
.header h3{
  font-size: 1em;
}
form{
  margin-top: 2rem;
}
.buttonGroup {
  margin-top: 1rem;
}
.message {
  padding: 0 1rem;
  margin-top: 0.5rem;
}

