.form {
  padding: 1rem;
  border-radius: 12px;
}
.input {
  margin: 1rem 0;
  --background: var(--ion-color-step-100);
}
.buttons {
  position: fixed;
  bottom: 0;
  right: -1px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem; /* Adjust padding as needed */
  gap: 8px
}

